* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #042832;
}

.header {
  min-width: 45rem;
  max-height: 100px;
  display: flex;
  padding: 1em;
  justify-content: space-between;
}
.header .header-btn {
  width: 12rem;
  height: 40px;
  color: #FD53C0;
  border-radius: 20px;
  border: 1px solid rgba(253, 83, 191, 0.9725490196);
  background-color: #fff;
  cursor: pointer;
}
.header .header-btn:hover {
  box-shadow: 1px -1px 4px 3px;
}

.con-2 {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  padding: 3.2rem;
}
.con-2 h1 {
  font-size: 2.5rem;
  font-weight: 800;
}
.con-2 p {
  color: #8E959B;
  margin-top: 30px;
  width: 600px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.con-2 .con-2-btn {
  margin-top: 30px;
  width: 22rem;
  height: 4.5rem;
  border-radius: 50px;
  border: none;
  background-color: #FD53C0;
  color: #fff;
  cursor: pointer;
}

.rate-con {
  min-height: 400px;
  display: flex;
  margin-top: 100px;
  justify-content: space-evenly;
}
.rate-con h1 {
  font-size: 5rem;
}
.rate-con p {
  font-size: 20px;
  font-weight: 200;
  color: #8E959B;
}

.con-5, .con-6, .con-7 {
  min-height: 500px;
  min-width: 400px;
  background-color: #f5fdff;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.con-5 .con-img, .con-6 .con-img, .con-7 .con-img {
  width: 80rem;
}
.con-5 h1, .con-6 h1, .con-7 h1 {
  font-size: 3rem;
}
.con-5 p, .con-6 p, .con-7 p {
  color: #2D3F43;
  font-weight: 200;
  line-height: 25px;
}
.con-5 .sub-con1, .con-6 .sub-con1, .con-7 .sub-con1 {
  margin-top: 100px;
  margin-left: 70px;
}

.con-8 {
  min-width: 200px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-top: 50px;
}
.con-8 h1 {
  font-size: 50px;
}
.con-8 .con-8-btn {
  height: 90px;
  width: 450px;
  margin-top: 50px;
  background-color: #FD53C0;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  border: 1px solid #FD53C0;
}
.con-8 .con-8-btn:hover {
  box-shadow: -2px -2px 1px 1px;
}

.footer-con {
  display: flex;
  background-color: #01262F;
  border-radius: 15px;
  border: 10px solid #2e3233;
  color: #fff;
  padding: 1rem;
}
.footer-con .con-1 {
  min-width: 500px;
  margin-top: 100px;
}
.footer-con .con-1 p {
  font-size: 1rem;
  color: #8E959B;
  line-height: 25px;
}
.footer-con .con-1 .footer-hoodle {
  color: #fff;
}
.footer-con .con-1 .huddle {
  position: relative;
  margin-bottom: 40px;
}
.footer-con .con-1 .huddle h1 {
  position: absolute;
  left: 50px;
  bottom: -15px;
  font-size: 60px;
  color: #fff;
}
.footer-con .con-1 .huddle .img-icon {
  color: #fff;
  font-size: 0.5rem;
}
.footer-con .con-1 .phone, .footer-con .con-1 .mail {
  display: flex;
  margin-top: 20px;
}
.footer-con .con-1 .msg {
  position: relative;
}
.footer-con .con-1 .msg p {
  position: absolute;
  left: 30px;
}
.footer-con .con-1 .msg .phone {
  margin-top: 50px;
}
.footer-con .con-1 .icons {
  max-width: 150px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-top: 80px;
}
.footer-con .con-2 {
  max-width: 600px;
  margin-top: 5px;
}
.footer-con .con-2 h2 {
  color: #FEFEFF;
}
.footer-con .con-2 p {
  font-size: 1rem;
}
.footer-con .con-2 .sub-con {
  display: flex;
  margin-top: 40px;
  gap: 50px;
}
.footer-con .con-2 .sub-con #input {
  width: 18rem;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}
.footer-con .con-2 .sub-con #input-btn {
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: #FD53C0;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.form-sec {
  min-width: 600px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5fdff;
  margin: 3% 2%;
}
.form-sec h1 {
  font-size: 40px;
  margin-bottom: 15px;
}
.form-sec #form {
  min-width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  margin: 2% 1%;
  gap: 20px;
}
.form-sec #form input {
  min-height: 50px;
  border-radius: 5px;
  background-color: #2e3233;
  font-size: medium;
  color: #fff;
}
.form-sec #form #Message {
  min-height: 100px;
}
.form-sec #form button {
  min-height: 50px;
  border-radius: 5px;
  background-color: #2e3233;
  background-color: #2D3F43;
  color: #f5fdff;
  transition: 0.1s;
  font-size: 20px;
  cursor: pointer;
}
.form-sec #form button:hover {
  background-color: #8E959B;
  color: #01262F;
}

@media (width <= 750px) {
  .con-2 {
    display: flex;
  }
  .con-2 h1 {
    font-size: 3.2rem;
    font-weight: 800;
    text-align: center;
  }
  .rate-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 50px;
  }
  .rate-con p {
    margin-bottom: 100px;
  }
  .con-6 {
    background-color: #fff;
  }
  .con-8 {
    align-items: center;
  }
  .con-8 h1 {
    font-size: 3.2rem;
    font-weight: 800;
    text-align: center;
  }
  .con-5, .con-6, .con-7, .rate-con {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 5px 80px 200px;
    text-align: center;
  }
  .con-5 p, .con-6 p, .con-7 p, .rate-con p {
    font-size: 20px;
  }
  .footer-con {
    flex-direction: column-reverse;
  }
  .footer-con .sub-con {
    flex-direction: column;
    position: relative;
  }
  .footer-con #input {
    width: 32rem !important;
    height: 50px;
  }
  .footer-con #input-btn {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 50px;
  }
}/*# sourceMappingURL=style.css.map */