* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #042832;
}

.header{
        min-width: 45rem;
        max-height: 100px;
        display: flex;
        padding: 1em;
        justify-content: space-between;
        


    .header-btn{
        width: 12rem;
        height: 40px;
        color: #FD53C0;
        border-radius: 20px;
        border: 1px solid #fd53bff8;
        background-color: #fff;
        cursor: pointer;

        &:hover{
            box-shadow:  1px -1px 4px 3px;
        }
        
        
    }
    
    
}

.con-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding: 3.2rem;
    
    h1{
        font-size: 2.5rem;
        font-weight: 800;
    }
    
    p{
        color: #8E959B;
        margin-top: 30px;
        width: 600px;
        line-height: 30px;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        
    }
    
    .con-2-btn{
        margin-top: 30px;
        width: 22rem;
        height: 4.5rem;
        border-radius: 50px;
        border: none;
        background-color: #FD53C0;
        color: #fff;
        cursor: pointer;
    }

 
}

.rate-con{
    height: 400px;
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
    
    h1{
        font-size: 5rem;
    }

    p{
        font-size: 20px;
        font-weight: 200;
        color: #8E959B;
    }
}

.con-5{
    height: 500px;
    min-width: 400px;
    background-color: #f5fdff;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    
    .con-img{
        width: 80rem;
    }
    
    h1{
        font-size: 3rem;
    }

    p{
        color:#2D3F43;
        font-weight: 200;
        line-height: 25px;
    }
    
        .sub-con1 {
            margin-top: 100px;
            margin-left: 70px;
        }
        
    }
    
    
    .con-6{
    height: 500px;
    min-width: 400px;
    background-color: #f5fdff;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;


    .con-img{
        width: 60rem;
    }

    h1{
        font-size: 3rem;
    }

    p{
        color:#2D3F43;
        font-weight: 500;
        line-height: 25px;
        font-size: 15px;
    }
    
     .sub-con1{
         margin-top: 100px;
         margin-left: 70px;
        }
        
    }
    
    
    .con-7{
    height: 500px;
    min-width: 400px;
    background-color: #f5fdff;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;


    .con-img{
        width: 60rem;
    }
    
    h1{
        font-size: 3rem;
    }
    
    p{
        color:#2D3F43;
        font-weight: 200;
        line-height: 25px;
    }
    
  .sub-con1 {
      margin-top: 100px;
      margin-left: 70px;
  }
    
}

.con-8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    justify-content: center;
    place-items: center;
    margin-top: 50px;
    
    h1{
        font-size: 50px;
    }

    .con-8-btn{
        height: 90px;
        width: 450px;
        margin-top: 50px;
        background-color: #FD53C0;
        border-radius: 50px;
        font-size: 1.5rem;
        font-weight: 400;
        color: #fff;
        cursor: pointer;
        border: 1px solid #FD53C0;

        &:hover{
            
            box-shadow: -2px -2px 1px 1px;
        }

    }
}

.footer-con{
    display: flex;
    background-color:#01262F;
    border-radius: 15px;
    border: 10px solid #2e3233;
    color: #fff;
    padding: 1rem;

    
    .con-1{
        min-width: 500px;
       margin-top: 100px;
       
       p {
            font-size: 1rem;
            color: #8E959B;
            line-height: 25px;
        }
        
       .footer-hoodle{
           color: #fff;
        }
        
        .huddle{
            position: relative;
            margin-bottom: 40px;
            
            h1{
                position: absolute;
                left: 50px;
                bottom: -15px;
                font-size: 60px;
                color: #fff;
            }

           
            .img-icon{
                color: #fff;
                font-size: .5rem;
            }
        }

        .phone, .mail{
            display: flex;
            margin-top: 20px;
        }
        
        .msg{
            position: relative;

            p{
                position: absolute;
                left: 30px;
            }

            .phone{
                margin-top: 50px;
            }
        }

        .icons{
            max-width: 150px;
            display: flex;
            justify-content: space-between;
            font-size: 30px;
            margin-top: 80px;

        }

        
    }

    .con-2{
        max-width: 600px;
        margin-top: 5px; 
        
        h2{
            color: #FEFEFF;     
        }
        
        p{
            font-size: 1rem;
        }
        
        .sub-con{
            display: flex;
            margin-top: 40px;
            gap: 50px;

            #input{
                width: 18rem;
                height: 40px;
                border-radius: 5px;
                font-size: 20px;
                border: none;
            }

            #input-btn{
                width: 200px;
                border-radius: 5px;
                border: none;
                background-color: #FD53C0;
                color: #fff;
                font-size: 15px;
                cursor: pointer;
            }
            

            
        }

    }
    
}

.form-sec{
    min-width: 600px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5fdff;
    margin: 3% 2%;

    h1{
        font-size: 40px;
        margin-bottom: 15px;
    }

    #form{
        min-width: 400px;
        min-height: 400px;
        // background-color:#FD53C0;
        display: flex;
        flex-direction: column;
        margin: 2% 1%;
        gap: 20px;

        input{
            min-height: 50px;
            border-radius: 5px;
            background-color:#2e3233;
            font-size: medium;
            color: #fff;
        }

        #Message{
            min-height: 100px;
        }

        button{
            min-height: 50px;
            border-radius: 5px;
            background-color: #2e3233;
            background-color:#2D3F43;
            color: #f5fdff;
            transition: .10s;
            font-size:20px;
            cursor: pointer;
            

            &:hover{
                background-color:#8E959B;
                color:#01262F;
            }
        }
    }
}



 
 
 @media (max-width: 750px){
        .con-2{
            display: flex;

            h1 {
                font-size: 3.2rem;
                font-weight: 800;
                align-self: center;
            }
    }
    
    .rate-con{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 50px;

        p{
            margin-bottom:100px;
        }
            
        
    }

    .con-5, .con-6, .con-7 {
        width: 600px;
        flex-direction: column-reverse;
        align-items: center;
        margin:5% 5% 3% 3%;

        p{
            font-size: 20px;
        }
    }

    
    
    
}
